{% extends "utils_seller/base.html" %}

{% block start %}



    <h4>Overview</h4>

    <div class="row">
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h6>Total Orders</h6>
                        <h3>1896</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h6>Clients</h6>
                        <h3>568</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h6>Revenue</h6>
                        <h3>$3M</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- SIMPLE TABLE -->
        <div class="card">
            <div class="card-header">Users</div>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>City</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Delhi</td>
                        <td>Active</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

{% endblock start %}