{% extends "utils/base.html" %}
{% block title %}Home{% endblock title %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
<script src="{% static "javascript/home.js" %}"></script>

{% endblock head %}
    

{% block start %}

    <div class="overlay " data-overlay></div>

    <div class="modal" data-modal>
        <div class="modal-close-overlay" data-modal-overlay></div>

        <div class="modal-content">
            <button class="modal-close-btn" data-modal-close>
                <ion-icon name="close-outline"></ion-icon>
            </button>

            <div class="newsletter-img">
                <img src="https://i.postimg.cc/mrLjrxtC/newsletter.png" alt="image" width="400" height="400">
            </div>

            <div class="newsletter">
                <form action="#">
                    <div class="newsletter-header">
                        <h3 class="newsletter-title">Subscribe Newsletter</h3>

                        <p class="newsletter-desc">Subscribe to the <b>Anon</b> to get latest products and discount update</p>
                    </div>

                    <input type="email" name="email" class="email-field" placeholder="Email Address" required>

                    <button type="submit" class="btn-newsletter">Subscribe</button>
                </form>
            </div>
        </div>
    </div>

   

    <header>
        
        

        <nav class="desktop-navigation-menu">
            <div class="container">
                <ul class="desktop-menu-category-list">
                    <li class="menu-category">
                        <a href="#" class="menu-title">Home</a>
                    </li>

                    <li class="menu-category">
                        <a href="#" class="menu-title">Categories</a>

                        <div class="dropdown-panel">
                            <ul class="dropdown-panel-list">
                                <li class="menu-title"><a href="#">Electronics</a></li>
                                <li class="panel-list-item"><a href="#">Desktop</a></li>
                                <li class="panel-list-item"><a href="#">Laptop</a></li>
                                <li class="panel-list-item"><a href="#">Camera</a></li>
                                <li class="panel-list-item"><a href="#">Camera</a></li>
                                <li class="panel-list-item"><a href="#">Headphone</a></li>
                                <li class="panel-list-item">
                                    <img src="https://i.postimg.cc/MT2mT9ty/electronics-banner-1.jpg" alt="image" width="250" height="119">
                                </li>
                            </ul>

                            <ul class="dropdown-panel-list">
                                <li class="menu-title"><a href="#">Men's</a></li>
                                <li class="panel-list-item"><a href="#">Formal</a></li>
                                <li class="panel-list-item"><a href="#">Casual</a></li>
                                <li class="panel-list-item"><a href="#">Sports</a></li>
                                <li class="panel-list-item"><a href="#">Jacket</a></li>
                                <li class="panel-list-item"><a href="#">Sunglasses</a></li>
                                <li class="panel-list-item">
                                    <img src="https://i.postimg.cc/nVs954kx/mens-banner.jpg" alt="image" width="250" height="119">
                                </li>
                            </ul>

                            <ul class="dropdown-panel-list">
                                <li class="menu-title"><a href="#">Women's</a></li>
                                <li class="panel-list-item"><a href="#">Formal</a></li>
                                <li class="panel-list-item"><a href="#">Casual</a></li>
                                <li class="panel-list-item"><a href="#">Perfume</a></li>
                                <li class="panel-list-item"><a href="#">Cosmetics</a></li>
                                <li class="panel-list-item"><a href="#">Bags</a></li>
                                <li class="panel-list-item">
                                    <img src="https://i.postimg.cc/vT9Bmvq6/womens-banner.jpg" alt="image" width="250" height="119">
                                </li>
                            </ul>

                            <ul class="dropdown-panel-list">
                                <li class="menu-title"><a href="#">Electronics</a></li>
                                <li class="panel-list-item"><a href="#">Smart Watch</a></li>
                                <li class="panel-list-item"><a href="#">Smart TV</a></li>
                                <li class="panel-list-item"><a href="#">Keyboard</a></li>
                                <li class="panel-list-item"><a href="#">Mouse</a></li>
                                <li class="panel-list-item"><a href="#">Microphone</a></li>
                                <li class="panel-list-item">
                                    <img src="https://i.postimg.cc/htMGhvrM/electronics-banner-2.jpg" alt="image" width="250" height="119">
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-category">
                        <a href="#" class="menu-title">Men's</a>

                        <ul class="dropdown-list">
                            <li class="dropdown-item"><a href="#">Shirt</a></li>
                            <li class="dropdown-item"><a href="#">Shorts & Jeans</a></li>
                            <li class="dropdown-item"><a href="#">Safety Shoes</a></li>
                            <li class="dropdown-item"><a href="#">Wallet</a></li>
                        </ul>
                    </li>

                    <li class="menu-category">
                        <a href="#" class="menu-title">Women's</a>

                        <ul class="dropdown-list">
                            <li class="dropdown-item"><a href="#">Dress & Frock</a></li>
                            <li class="dropdown-item"><a href="#">Earrings</a></li>
                            <li class="dropdown-item"><a href="#">Necklace</a></li>
                            <li class="dropdown-item"><a href="#">Makeup Kit</a></li>
                        </ul>
                    </li>

                    <li class="menu-category">
                        <a href="#" class="menu-title">Jewelyr</a>

                        <ul class="dropdown-list">
                            <li class="dropdown-item"><a href="#">Earrings</a></li>
                            <li class="dropdown-item"><a href="#">Couple Rings</a></li>
                            <li class="dropdown-item"><a href="#">Necklace</a></li>
                            <li class="dropdown-item"><a href="#">Bracelets</a></li>
                        </ul>
                    </li>

                    <li class="menu-category">
                        <a href="#" class="menu-title">Perfume</a>

                        <ul class="dropdown-list">
                            <li class="dropdown-item"><a href="#">Clothes Perfume</a></li>
                            <li class="dropdown-item"><a href="#">Deodorant</a></li>
                            <li class="dropdown-item"><a href="#">Flower Fragrance</a></li>
                            <li class="dropdown-item"><a href="#">Air Freshener</a></li>
                        </ul>
                    </li>

                    <li class="menu-category">
                        <a href="#" class="menu-title">Blog</a>
                    </li>

                    <li class="menu-category">
                        <a href="#" class="menu-title">Hot Offers</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="mobile-bottom-navigation">
            <button class="action-btn" data-mobile-menu-open-btn>
                <ion-icon name="menu-outline"></ion-icon>
            </button>

            <button class="action-btn">
                <ion-icon name="bag-handle-outline"></ion-icon>
                <span class="count">0</span>
            </button>

            <button class="action-btn">
                <ion-icon name="home-outline"></ion-icon>
            </button>

            <button class="action-btn">
                <ion-icon name="heart-outline"></ion-icon>
                <span class="count">0</span>
            </button>

            <button class="action-btn" data-mobile-menu-open-btn>
                <ion-icon name="grid-outline"></ion-icon>
            </button>
        </div>

        <nav class="mobile-navigation-menu has-scrollbar " data-mobile-menu>
            <div class="menu-top">
                <h2 class="menu-title">Menu</h2>

                <button class="menu-close-btn" data-mobile-menu-close-btn>
                    <ion-icon name="close-outline"></ion-icon>
                </button>
            </div>

            <ul class="mobile-menu-category-list">
                <li class="menu-category"><a href="#" class="menu-title">Home</a></li>

                <li class="menu-category">
                    <button class="accordion-menu" data-accordion-btn>
                        <p class="menu-title">Men's</p>

                        <div>
                            <ion-icon name="add-outline" class="add-icon"></ion-icon>
                            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                        </div>
                    </button>

                    <ul class="submenu-category-list " data-accordion>
                        <li class="submenu-category"><a href="#" class="submenu-title">Shirt</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Short & Jeans</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Safety Shoes</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Wallet</a></li>
                    </ul>
                </li>

                <li class="menu-category">
                    <button class="accordion-menu" data-accordion-btn>
                        <p class="menu-title">Women's</p>

                        <div>
                            <ion-icon name="add-outline" class="add-icon"></ion-icon>
                            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                        </div>
                    </button>

                    <ul class="submenu-category-list" data-accordion>
                        <li class="submenu-category"><a href="#" class="submenu-title">Dress & Frock</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Earrings</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Necklace</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Makeup Kit</a></li>
                    </ul>
                </li>

                <li class="menu-category">
                    <button class="accordion-menu" data-accordion-btn>
                        <p class="menu-title">Jewelyr</p>

                        <div>
                            <ion-icon name="add-outline" class="add-icon"></ion-icon>
                            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                        </div>
                    </button>

                    <ul class="submenu-category-list" data-accordion>
                        <li class="submenu-category"><a href="#" class="submenu-title">Earrings</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Couple Rings</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Necklace</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Bracelets</a></li>
                    </ul>
                </li>

                <li class="menu-category">
                    <button class="accordion-menu" data-accordion-btn>
                        <p class="menu-title">Perfume</p>

                        <div>
                            <ion-icon name="add-outline" class="add-icon"></ion-icon>
                            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                        </div>
                    </button>

                    <ul class="submenu-category-list" data-accordion>
                        <li class="submenu-category"><a href="#" class="submenu-title">Clothes Perfume</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Deodorant</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Flower Fragrance</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Air Freshener</a></li>
                    </ul>
                </li>

                <li class="menu-category"><a href="#" class="menu-title">Blog</a></li>

                <li class="menu-category"><a href="#" class="menu-title">Hot Offers</a></li>
            </ul>

            <div class="menu-bottom">
                <ul class="menu-category-list">
                    <li class="menu-category">
                        <button class="accordion-menu " data-accordion-btn>
                            <p class="menu-title">Language</p>
                            <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
                        </button>

                        <ul class="submenu-category-list " data-accordion>
                            <li class="submenu-category"><a href="#" class="submenu-title">English</a></li>
                            <li class="submenu-category"><a href="#" class="submenu-title">Espa&ntilde;ol</a></li>
                            <li class="submenu-category"><a href="#" class="submenu-title">French</a></li>
                        </ul>
                    </li>

                    <li class="menu-category">
                        <button class="accordion-menu" data-accordion-btn>
                            <p class="menu-title">Currency</p>
                            <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
                        </button>

                        <ul class="submenu-category-list" data-accordion>
                            <li class="submenu-category"><a href="#" class="submenu-title">USD &dollar;</a></li>
                            <li class="submenu-category"><a href="#" class="submenu-title">EUR &euro;</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="menu-social-container">
                    <li><a href="#" class="social-link"><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-twitter"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-instagram"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="banner">
            <div class="container">
                <div class="slider-container has-scrollbar">
                    <div class="slider-item">
                        <img src="https://i.postimg.cc/V6Rrdsk1/banner-1.jpg" alt="women's latest fashion sale" class="banner-img">

                        <div class="banner-content">
                            <p class="banner-subtitle">Trending Item</p>
                            <h2 class="banner-title">Women's latest fashion sale</h2>
                            <p class="banner-text">Startting at &dollar; <b>20</b>.00</p>
                            <a href="#" class="banner-btn">Shop Now</a>
                        </div>
                    </div>

                    <div class="slider-item">
                        <img src="https://i.postimg.cc/RFXhvPgZ/banner-2.jpg" alt="modern sunglasses" class="banner-img">

                        <div class="banner-content">
                            <p class="banner-subtitle">Trending Accessories</p>
                            <h2 class="banner-title">Modern Sunglasses</h2>
                            <p class="banner-text">Startting at &dollar; <b>15</b>.00</p>
                            <a href="#" class="banner-btn">Shop Now</a>
                        </div>
                    </div>

                    <div class="slider-item">
                        <img src="https://i.postimg.cc/MTKZ37z2/banner-3.jpg" alt="new fashion summer sale" class="banner-img">

                        <div class="banner-content">
                            <p class="banner-subtitle">Sale Offer</p>
                            <h2 class="banner-title">New Fashion Summer Sale</h2>
                            <p class="banner-text">Startting at &dollar; <b>29</b>.99</p>
                            <a href="#" class="banner-btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="category">
            <div class="container">
                <div class="category-item-container has-scrollbar">

                    {% for category in categories %}

                    <div class="category-item">
                        <div class="category-img-box">
                            <img src="{{ category.display_image }}" alt="dress & frock" width="30">
                        </div>
                        <div class="category-content-box">
                            <div class="category-content-flex">
                                <h3 class="category-item-title">{{category.category_name}}</h3>
                                <p class="category-item-amount">{{category.product_count}}</p>
                            </div>
                            <a href="#" class="category-btn">Show All</a>
                        </div>
                    </div>

                    {% endfor %}
                    
                </div>
            </div>
        </div>

        <div class="product-container">
            <div class="container">
                <div class="sidebar has-scrollbar " data-mobile-menu>
                    <div class="sidebar-category">
                        <div class="sidebar-top">
                            <h2 class="sidebar-title">Category</h2>

                            <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                                <ion-icon name="close-outline"></ion-icon>
                            </button>
                        </div>

                        <ul class="sidebar-menu-category-list">
                            <li class="sidebar-menu-category">
                                <button class="sidebar-accordion-menu" data-accordion-btn>
                                    <div class="menu-title-flex">
                                        <img src="https://i.postimg.cc/Xv9x15Q8/dress.png" alt="clothes" class="menu-title-img" width="20" height="20">
                                        <p class="menu-title">Clothes</p>
                                    </div>

                                    <div>
                                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                                    </div>
                                </button>

                                <ul class="sidebar-submenu-category-list" data-accordion>
                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Shirt</p>
                                            <data value="300" class="stock" title="Available Stock">300</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Shorts & Jeans</p>
                                            <data value="60" class="stock" title="Available Stock">60</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Jacket</p>
                                            <data value="50" class="stock" title="Available Stock">50</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Dress & Frock</p>
                                            <data value="87" class="stock" title="Available Stock">87</data>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="sidebar-menu-category">
                                <button class="sidebar-accordion-menu" data-accordion-btn>
                                    <div class="menu-title-flex">
                                        <img src="https://i.postimg.cc/d3RBQZhB/shoes.png" alt="footwear" class="menu-title-img" width="20" height="20">
                                        <p class="menu-title">Footwear</p>
                                    </div>

                                    <div>
                                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                                    </div>
                                </button>

                                <ul class="sidebar-submenu-category-list" data-accordion>
                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Sports</p>
                                            <data value="45" class="stock" title="Available Stock">45</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Formal</p>
                                            <data value="75" class="stock" title="Available Stock">75</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Casual</p>
                                            <data value="35" class="stock" title="Available Stock">35</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Safety Shoes</p>
                                            <data value="26" class="stock" title="Available Stock">26</data>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="sidebar-menu-category">
                                <button class="sidebar-accordion-menu" data-accordion-btn>
                                    <div class="menu-title-flex">
                                        <img src="https://i.postimg.cc/Y9HLrnY5/jewelry.png" alt="jewelyr" class="menu-title-img" width="20" height="20">
                                        <p class="menu-title">Jewelyr</p>
                                    </div>

                                    <div>
                                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                                    </div>
                                </button>

                                <ul class="sidebar-submenu-category-list" data-accordion>
                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Earrings</p>
                                            <data value="46" class="stock" title="Available Stock">46</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Couple Rings</p>
                                            <data value="73" class="stock" title="Available Stock">73</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Necklace</p>
                                            <data value="61" class="stock" title="Available Stock">61</data>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <li class="sidebar-menu-category">
                                <button class="sidebar-accordion-menu" data-accordion-btn>
                                    <div class="menu-title-flex">
                                        <img src="https://i.postimg.cc/6q67R8Hz/perfume.png" alt="perfume" class="menu-title-img" width="20" height="20">
                                        <p class="menu-title">Perfume</p>
                                    </div>

                                    <div>
                                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                                    </div>
                                </button>

                                <ul class="sidebar-submenu-category-list" data-accordion>
                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Clothes Perfume</p>
                                            <data value="12" class="stock" title="Available Stock">12 pcs</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Deodorant</p>
                                            <data value="60" class="stock" title="Available Stock">60 pcs</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Jacket</p>
                                            <data value="50" class="stock" title="Available Stock">50 pcs</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Dress & Frock</p>
                                            <data value="87" class="stock" title="Available Stock">87 pcs</data>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="sidebar-menu-category">
                                <button class="sidebar-accordion-menu" data-accordion-btn>
                                    <div class="menu-title-flex">
                                        <img src="https://i.postimg.cc/dQnZF91f/cosmetics.png" alt="cosmetics" class="menu-title-img" width="20" height="20">
                                        <p class="menu-title">Cosmetics</p>
                                    </div>

                                    <div>
                                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                                    </div>
                                </button>

                                <ul class="sidebar-submenu-category-list" data-accordion>
                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Shampoo</p>
                                            <data value="68" class="stock" title="Available Stock">68</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Sunscreen</p>
                                            <data value="46" class="stock" title="Available Stock">46</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Body Wash</p>
                                            <data value="79" class="stock" title="Available Stock">79</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Makeup Kit</p>
                                            <data value="23" class="stock" title="Available Stock">23</data>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="sidebar-menu-category">
                                <button class="sidebar-accordion-menu" data-accordion-btn>
                                    <div class="menu-title-flex">
                                        <img src="https://i.postimg.cc/zBthxXZ7/glasses.png" alt="glasses" class="menu-title-img" width="20" height="20">
                                        <p class="menu-title">Glasses</p>
                                    </div>

                                    <div>
                                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                                    </div>
                                </button>

                                <ul class="sidebar-submenu-category-list" data-accordion>
                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Sunglasses</p>
                                            <data value="50" class="stock" title="Available Stock">50</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Lenses</p>
                                            <data value="48" class="stock" title="Available Stock">48</data>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <li class="sidebar-menu-category">
                                <button class="sidebar-accordion-menu" data-accordion-btn>
                                    <div class="menu-title-flex">
                                        <img src="https://i.postimg.cc/5yt0yZ0R/bag.png" alt="bags" class="menu-title-img" width="20" height="20">
                                        <p class="menu-title">Bags</p>
                                    </div>

                                    <div>
                                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                                    </div>
                                </button>

                                <ul class="sidebar-submenu-category-list" data-accordion>
                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Shopping Bag</p>
                                            <data value="62" class="stock" title="Available Stock">62</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Gym Backpack</p>
                                            <data value="35" class="stock" title="Available Stock">35</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Purse</p>
                                            <data value="80" class="stock" title="Available Stock">80</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Wallet</p>
                                            <data value="75" class="stock" title="Available Stock">75</data>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    
                </div>

                <div class="product-box">
                    <div class="product-minimal">
                        <div class="product-showcase">
                            <h2 class="title">New Arrivals</h2>

                            <div class="showcase-wrapper has-scrollbar">
                                <div class="showcase-container">


                                    {% for new_arrival in new_arrivals %}

                                    <div class="showcase">
                                        <a href="#" class="showcase-img-box">
                                            <img src="{{new_arrival.product.images.first.image.url}}" alt="{{new_arrival.product.title}}" class="showcase-img" width="70">
                                        </a>

                                        <div class="showcase-content">
                                            <a href="#"><h4 class="showcase-title">{{new_arrival.product.title}}</h4></a>
                                            <a href="#" class="showcase-category">{{new_arrival.product.category.category_name}}</a>

                                            <div class="price-box">
                                                <p class="price">₹{{new_arrival.vendor_selling_price}} <del>{{new_arrival.product.mrp}}</del></p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                        </div>

                        <div class="product-showcase">
                            <h2 class="title">Trending</h2>

                            <div class="showcase-wrapper has-scrollbar">
                                <div class="showcase-container">

                                    {% for trend in trending %}
                                    <div class="showcase">
                                        <a href="#" class="showcase-img-box">
                                            <img src="{{trend.product.images.first.image.url}}" alt="{{trend.product.title}}" class="showcase-img" width="70" height='50'>
                                        </a>

                                        <div class="showcase-content">
                                            <a href="#"><h4 class="showcase-title">{{trend.product.title}}</h4></a>
                                            <a href="#" class="showcase-category">{{trend.product.category.category_name}}</a>

                                            <div class="price-box">
                                                <p class="price">₹{{trend.vendor_selling_price}} <del>{{trend.product.mrp}}</del></p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="product-showcase">
                            <h2 class="title">Top Rated</h2>

                            <div class="showcase-wrapper has-scrollbar">
                                <div class="showcase-container">

                                    {% for top in top_rated %}
                                    <div class="showcase">
                                        <a href="#" class="showcase-img-box">
                                            <img src="{{top.product.images.first.image.url}}" alt="{{top.product.title}}" class="showcase-img" width="70" height='50'>
                                        </a>

                                        <div class="showcase-content">
                                            <a href="#"><h4 class="showcase-title">{{top.product.title}}</h4></a>
                                            <a href="#" class="showcase-category">{{top.product.category.category_name}}</a>

                                            <div class="price-box">
                                                <p class="price">₹{{top.vendor_selling_price}} <del>{{top.product.mrp}}</del></p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    
                                </div>
                            </div>
                        </div>

                        
                    </div>

                   

                    <div class="product-main">
                        <h2 class="title">New Products</h2>
                        <div class="product-grid">

                            {% for new_product in new_products  %}

                            <div class="showcase">
                                <div class="showcase-banner">
                                    <img src="{{new_product.product.images.first.image.url}}" alt="{{new_product.product.title}}" class="product-img default" width="300">
                                    <img src="{{new_product.product.images.first.image.url}}" alt="{{new_product.product.title}}" class="product-img hover" width="300">

                                    {% comment %} <p class="showcase-badge">15%</p> {% endcomment %}
                                    <p class="showcase-badge angle black">Sale</p>

                                    <div class="showcase-actions">
                                        <button class="btn-action"><ion-icon name="heart-outline"></ion-icon></button>
                                        <button class="btn-action"><ion-icon name="eye-outline"></ion-icon></button>
                                        <button class="btn-action"><ion-icon name="repeat-outline"></ion-icon></button>
                                        <button class="btn-action"><ion-icon name="bag-add-outline"></ion-icon></button>
                                    </div>
                                </div>

                                <div class="showcase-content">
                                    <a href="#" class="showcase-category">{{new_product.product.category.category_name}}</a>
                                    <a href="#"><h3 class="showcase-title">{{new_product.product.title}}</h3></a>

                                    <div class="showcase-rating">
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star-outline"></ion-icon>
                                        <ion-icon name="star-outline"></ion-icon>
                                    </div>

                                    <div class="price-box">
                                        <p class="price">₹{{new_product.vendor_selling_price}}</p>
                                        <del>₹{{new_product.product.mrp}}</del>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                               

                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
    </main>

   

{% endblock start %}